/*Format the footer: */
html, body {
    height: 100%;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: #477696 !important;
}

.content-wrapper {
    min-height: 100%;
    position: relative;
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    width:100%;
    background-attachment: fixed;  
}
.body {
    padding-bottom: 44px;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.choose-language {
    margin-left: 20px;
    display: inline-block;
    width: 170px;
}
.i18n {
  padding-top: 10px;
  flex: 1 1 auto;
}
.contact-me {
  flex: 0 1 auto;
}
@media (min-width: 600px) {
    .contact-me {    
      padding-top:3px;
    }
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height:48px;
    text-align: center;
    opacity: 0.8;
    background-color: antiquewhite;
}
@media (max-width: 450px) {
    .body {
        padding-bottom: 68px;
    }
    .footer {
        height: 62px;
        padding-top: 10px;
        overflow:hidden;
    }
}

/*Format the navbar: */
md-toolbar ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
md-toolbar li {
    display: inline;
}
md-toolbar li.active {
    background-color: lightgray;
}

/* i18n flags */

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  height: 1em;
  line-height: 1em;
}
.flag-icon-gb {
  background-image: url("/assets/img/gb.svg");
}
.flag-icon-jp {
  background-image: url("/assets/img/jp.svg");
}

@media (max-width:500px) {
	.large-only {
		display: none;
		opacity: 0;
	}
}
