/*Format the footer: */
html, body {
    height: 100%;
}

.content-wrapper {
    min-height: 100%;
    position: relative;
}
.nav-links {
    margin: auto;
}
.body {
    padding-bottom:44px;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height:48px;
    text-align: center;
    background-color: antiquewhite;
}
@media (max-width: 450px) {
    .body {
        padding-bottom: 68px;
    }
    .footer {
        height: 62px;
        padding-top: 10px;
        overflow:hidden;
    }
}

/*Format the navbar: */
md-toolbar ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
md-toolbar li {
    display: inline;
}
md-toolbar li.active {
    background-color: lightgray;
}