/*Format the footer: */
html, body {
    height: 100%;
    font-family: RobotoDraft, Roboto, 'Noto Sans Japanese', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: handWritten;
    src: url("/assets/fonts/adamwarrenpro.ttf");
}

.font--hand-written {
    font-family: handWritten;
}
md-toolbar:not(.md-menu-toolbar) {
    background:none;
}

.content-wrapper {
    background: url("/assets/img/bg.jpg") no-repeat center center fixed;
    min-height: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    background-attachment: fixed;  
}

/* Mobile phones don't like fixed images for performance reasons */
@media (max-width: 640px) {
    .content-wrapper {
        min-height: 100%;
        position: relative;
        background-size: inherit;
        width:100%;
    }
}
.header {
    height: 64px;
    background-color: transparent !important;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.choose-language {
    padding-top: 23px;
    margin-left: 20px;
    display: inline-block;
    width: 100px;
}
.header--i18n {
  padding-top: 10px;
  flex: 0 1 auto;
}
.header--i18n > .flag-icon {
    vertical-align: middle;
}
.header--links {
    flex: 1 1 auto;
    text-align: center;
    padding-top: 10px;
}
@media(min-width: 1200px) {
    .header--links {
        margin-left: -300px;
    }
}
.header--contact-me {
  flex: 0 1 auto;
  padding-top:3px;
}

.body {
    padding-bottom: 52px;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height:52px;
    text-align: center;
    opacity: 0.8;
    background-color: antiquewhite;
}
@media (max-width: 450px) {
    .body {
        padding-bottom: 82px;
    }
    .footer {
        height: 72px;
        padding-top: 10px;
        overflow:hidden;
    }
}

/*Format the navbar: */
md-toolbar ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
md-toolbar li {
    display: inline;
}
md-toolbar li.active {
    background-color: lightgray;
}

/* i18n flags */

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  height: 1em;
  line-height: 1em;
}
.flag-icon-gb {
  background-image: url("/assets/img/gb.svg");
}
.flag-icon-jp {
  background-image: url("/assets/img/jp.svg");
}

@media (max-width:600px) {
	.large-only {
		display: none;
		opacity: 0;
	}
}

@media (max-width:920px) {
	.x-large-only {
		display: none !important;
		opacity: 0;
	}
}

@media (max-width:420px) {
	.small-only {
		display: none !important;
		opacity: 0;
	}
}