<div class="title-banner">
	<span class="md-display-3 hand-written">{{ 'name' | translate}}</span>
</div>
<div class="title-banner">
	<span class="md-display-2 hand-written">{{ 'title' | translate}}</span>
</div>

<md-card id="profile" class="simon-card hvr-ripple-out" md-theme="default" md-theme-watch>
	<md-card-title>
		<md-card-title-text flex="100" layout="column" layout-wrap layout-align="left start">
			<span class="md-headline">{{ 'name' | translate}}</span>
			<span class="md-subhead">{{ 'title' | translate}}</span>
			<span class="md-body-1">{{ 'aboutMe' | translate}}</span>
		</md-card-title-text>
		<md-card-title-media flex="100" layout="row" layout-wrap layout-align="center start">
			<img md-media-md src="/assets/img/simon.jpg">
		</md-card-title-media>
	</md-card-title>
	<md-card-actions layout-xs="column" layout-align-xs="start" layout="row" layout-align="end center">
		<a href="/assets/cv/Simon Briggs CV April 2016.pdf" target="_blank" md-raised-button class="md-primary">{{ 'download' | translate}}</a>
		<a href="/assets/cv/Simon Briggs CV April 2016 Transcript.txt" target="_blank" md-raised-button class="">{{ 'downloadText' | translate}}</a> 
	</md-card-actions>
</md-card>

<div class="card-container">
	<div class="flex-container">

		<div flex-gt-md=33 flex-md=50 flex=100>
			<md-card class="hvr-ripple-out">
				<md-content class="fixed-height-box">
					<md-subheader class="md-no-sticky">{{ 'subheading1' | translate }}</md-subheader>
					<md-list-item class="md-3-line md-long-text">
						<img [src]="educationList[0].flag" class="md-avatar" [alt]="educationList[0].name" />
						<div class="md-list-item-text">
							<h3>{{ ("history." + educationList[0].name) | translate }}</h3>
							<p>
								{{ 'description1' | translate }}
							</p>
						</div>
					</md-list-item>
				</md-content>
			</md-card>
		</div>

		<div flex-gt-md=33 flex-md=50 flex=100>
			<md-card class="hvr-ripple-out">
				<md-content class="fixed-height-box">
					<md-subheader class="md-no-sticky">{{ 'subheading2' | translate }}</md-subheader>
					<md-list-item class="md-3-line md-long-text">
						<img [src]="educationList[0].flag" class="md-avatar" [alt]="educationList[0].name" />
						<div class="md-list-item-text">
							<h3>{{ ("history." + educationList[0].name) | translate }}</h3>
							<p>
								{{ 'description2' | translate }}
							</p>
						</div>
					</md-list-item>
				</md-content>
			</md-card>
		</div>

		<div flex-gt-md=33 flex-md=100 flex=100>
			<md-card class="hvr-ripple-out">
				<md-content class="fixed-height-box">
					<md-subheader class="md-no-sticky">{{ 'subheading3' | translate }}</md-subheader>
					<md-list-item class="md-3-line md-long-text">
						<img [src]="educationList[1].flag" class="md-avatar border" [alt]="educationList[1].name" />
						<div class="md-list-item-text">
							<h3>{{ ("history." + educationList[1].name) | translate }}</h3>
							<p>
								{{ 'description3' | translate }}
							</p>
						</div>
					</md-list-item>
				</md-content>
			</md-card>
		</div>
	</div>


	<md-card class="history-card" layout="row">
		<md-data-table>
			<thead>
				<tr>
					<th class="md-text-cell">{{ 'history.location' | translate}}</th>
					<th>{{ 'history.country' | translate}}</th>
					<th>{{ 'history.from' | translate}}</th>
					<th class="medium-only">{{ 'history.duration' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="#item of educationList">
					<td class="md-text-cell">{{ ("history." + item.name)| translate }}</td>
					<td>{{ ("history." + item.location) | translate }}</td>
					<td>{{ item.startDate }}</td>
					<td class="medium-only">{{ item.duration }}</td>
				</tr>
			</tbody>
		</md-data-table>
	</md-card>

	<md-card>
		<md-content class="skills-card" id="skills">
			<md-subheader class="md-no-sticky">{{ 'subheading4' | translate }}</md-subheader>
			<div class="flex-container">
				<md-list-item class="md-2-line hvr-bounce-in" *ngFor="#skill of skills; #index = index">
					<div class="md-list-item-text" [ngClass]="{'md-offset': index == 200 }">
						<i md-icon *ngIf="index !== 200" [ngClass]="{'md-avatar-icon': index === 200}">grade</i>
						<i md-icon *ngIf="skill.proficiency > 1">grade</i>
						<md-icon md-font-icon="grade"></md-icon>
						<i md-icon *ngIf="skill.proficiency > 2">grade</i>
						<h3> {{ skill.name }} </h3>
					</div>
				</md-list-item>
			</div>
		</md-content>
	</md-card>

</div>