.title-banner {
	margin: 20vh auto 30vh auto;
	text-align: center;
	color: white;
}

.simon-card {
	max-width: 600px;
	margin: 8px auto;
}

@media (min-width: 1400px) {
	.history-card {
		max-width: 800px;
		margin: 8px auto;
	}
}
@media (min-width:1280px) and (max-width:1520px) {
	.simon-card {
		margin-left: 10px;
	}
}

@media (max-width:500px) {
	.large-only {
		display: none;
		opacity: 0;
	}
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

/** TODO: maybe attach this event to scrolling
md-card { 
	animation-name: skew;
	animation-duration: 1s;
} 
 */
@keyframes skew {
	from {
		-webkit-transform: skewX(25deg) skewY(20deg);
		-moz-transform: skewX(25deg) skewY(20deg);
		-ms-transform: skewX(25deg) skewY(20deg);
		-o-transform: skewX(25deg) skewY(20deg);
		transform: skewX(25deg) skewY(20deg);
		opacity: 0;
	}
	to {
		-webkit-transform: skewX(0deg) skewY(0deg);
		-moz-transform: skewX(0deg) skewY(0deg);
		-ms-transform: skewX(0deg) skewY(0deg);
		-o-transform: skewX(0deg) skewY(0deg);
		transform: skewX(0deg) skewY(0deg);
		opacity: 1;
	}
}

.slanted-image {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}