<div class="title-banner">
	<span class="md-display-3">{{ 'name' | translate}}</span>
</div>
<div class="title-banner">
	<span class="md-display-2 ">{{ 'title' | translate}}</span>
</div>
<div class="flex-container">
	<div flex-gt-lg=40 flex=100>
		<md-card class="simon-card" md-theme="default" md-theme-watch>
			<md-card-title>
				<md-card-title-text flex="100" layout="column" layout-wrap layout-align="left start">
					<span class="md-headline">{{ 'name' | translate}}</span>
					<span class="md-subhead">{{ 'title' | translate}}</span>
				</md-card-title-text>
				<md-card-title-media flex="100" layout="row" layout-wrap layout-align="center start">
					<img md-media-md src="/assets/img/simon.jpg">
				</md-card-title-media>
			</md-card-title>
			<md-card-actions layout-xs="column" layout-align-xs="start" layout="row" layout-align="end center">
				<a href="/assets/cv/Simon Briggs CV April 2016.pdf" target="_blank">
					<button md-raised-button class="md-primary">{{ 'download' | translate}}</button>
				</a>
				<a href="/assets/cv/Simon Briggs CV April 2016 Transcript.txt" target="_blank">
					<button md-raised-button class="">{{ 'downloadText' | translate}}</button>
				</a>
			</md-card-actions>
		</md-card>
	</div>

	<div flex-gt-lg=60 flex=100>
		<md-card class="history-card" layout="row">
			<md-data-table>
				<thead>
					<tr>
						<th class="md-text-cell">{{ 'history.location' | translate}}</th>
						<th>{{ 'history.country' | translate}}</th>
						<th>{{ 'history.from' | translate}}</th>
						<th class="large-only">{{ 'history.duration' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#item of educationList">
						<td class="md-text-cell">{{ ("history." + item.name)| translate }}</td>
						<td>{{ ("history." + item.location) | translate }}</td>
						<td>{{ item.startDate }}</td>
						<td class="large-only">{{ item.duration }}</td>
					</tr>
				</tbody>
			</md-data-table>
		</md-card>



		<md-card>
			<md-content>
				<md-list>
					<md-subheader class="md-no-sticky">3 line item</md-subheader>
					<md-list-item class="md-3-line" *ngFor="#item of educationList; #index = index">
						<img [src]="item.flag+'?'+index" class="md-avatar" alt="{{item.name}}" />
						<div class="md-list-item-text" layout="column">
							<h3>{{ ("history." + item.name) | translate }}</h3>
							<h4>{{ item.what }}</h4>
							<p>{{ item.notes }}</p>
						</div>
					</md-list-item>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky">3 line item, long paragraph (see on mobile)</md-subheader>
					<md-list-item class="md-3-line md-long-text">
						<img [src]="educationList[0].flag" class="md-avatar" [alt]="educationList[0].name" />
						<div class="md-list-item-text">
							<h3>{{ ("history." + educationList[0].name) | translate }}</h3>
							<p>
								Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper
								vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
								torquent per conubia nostra, per inceptos himenaeos.
							</p>
						</div>
					</md-list-item>
					<md-list-item class="md-3-line md-long-text">
						<img [src]="educationList[1].flag" class="md-avatar" [alt]="educationList[1].name" />
						<div class="md-list-item-text">
							<h3>{{ ("history." + educationList[1].name) | translate }}</h3>
							<p>
								Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper
								vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent
								per conubia nostra, per inceptos himenaeos.
							</p>
						</div>
					</md-list-item>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky">Classes</md-subheader>
					<md-list-item class="md-2-line" *ngFor="#phone of educationList; #index = index">
						<i md-icon *ngIf="index !== 2" [ngClass]="{'md-avatar-icon': index === 1}">phone</i>
						<div class="md-list-item-text" [ngClass]="{'md-offset': index == 2 }">
							<h3> {{ phone.name }} </h3>
							<p> {{ phone.duration }} </p>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card>

		<div id="slide1" class="slide"></div>
	</div>
</div>