.s-card {
	max-width: 600px;
	margin: 8px auto;
}
@media (min-width:1280px) and (max-width:1520px) {
	.s-card {
		margin-left: 10px;
	}
}
@media (min-width:1280px) {
	.s-card {
		//margin-top: 10%;
	}
}

@media (max-width:500px) {
	.large-only {
		display: none;
		opacity: 0;
	}
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}