.title-banner {
	margin: 20vh auto 30vh auto;
	text-align: center;
	color: white;
}

.simon-card {
	max-width: 600px;
	margin: 8px auto;
	z-index: 1;
	position: relative;
}
.skills-card {
	overflow: hidden;
	padding-left: 30px;
}

.md-2-line {
	flex: 1 1 auto;
	width: 300px;
	
}
@media(min-width: 960px) and ( max-width: 1210px) {
	.fixed-height-box {
		height: 215px;
		overflow:hidden;
	}
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.card-container {
	background: rgb(71,118,150);
	background: rgba(71,118,150,0.9);
	margin-top: -200px;
	padding-top: 200px;
	padding-bottom: 8px;
	z-index: 0;
	position: relative;
}

@media (min-width: 1400px) {
	.history-card {
		max-width: 800px;
		margin: 8px auto;
	}
}

@media (max-width:500px) {
	.medium-only {
		display: none;
		opacity: 0;
	}
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

/** TODO: maybe attach this event to scrolling
md-card { 
	animation-name: skew;
	animation-duration: 1s;
} 
 */
@keyframes skew {
	from {
		-webkit-transform: skewX(25deg) skewY(20deg);
		-moz-transform: skewX(25deg) skewY(20deg);
		-ms-transform: skewX(25deg) skewY(20deg);
		-o-transform: skewX(25deg) skewY(20deg);
		transform: skewX(25deg) skewY(20deg);
		opacity: 0;
	}
	to {
		-webkit-transform: skewX(0deg) skewY(0deg);
		-moz-transform: skewX(0deg) skewY(0deg);
		-ms-transform: skewX(0deg) skewY(0deg);
		-o-transform: skewX(0deg) skewY(0deg);
		transform: skewX(0deg) skewY(0deg);
		opacity: 1;
	}
}

.slanted-image {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.border {
	border: 1px solid #CCCCCC;
}

/** IE hacks: */
@media all and (-ms-high-contrast:none) {
	.simon-card {
		height: 400px;
	}
}